*,
*:before,
*:after {
  box-sizing: border-box;  
}
body{
  font-family: 'TT Norms';
}
a{
  text-decoration: none;
}
ol,
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
button{
  padding: 0;
  border: none;
  background-color: transparent;
}
a:hover{
  text-decoration: none;
}
